<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <string>NO</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sleepaid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>neurotx.kr.sleepaid.sleepaid</string>
                <string>fb1065882220689852</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
    <string>1065882220689852</string>
    <key>FacebookClientToken</key>
    <string>9bb5dcbe01bd31706a0200b6c5880554</string>
    <key>FacebookDisplayName</key>
    <string>SLEEPAID</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		 <string>fbapi</string>
          <string>fbapi20130214</string>
          <string>fbapi20130410</string>
          <string>fbapi20130702</string>
          <string>fbapi20131010</string>
          <string>fbapi20131219</string>
          <string>fbapi20140410</string>
          <string>fbapi20140116</string>
          <string>fbapi20150313</string>
          <string>fbapi20150629</string>
          <string>fbapi20160328</string>
          <string>fbauth</string>
          <string>fb-messenger-share-api</string>
          <string>fbauth2</string>
          <string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>naver.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>naver.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need BLE permission</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need BLE permission</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need Location permission</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need Location permission</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need Location permission</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>naverConsumerKey</key>
	<string>z4nD612bbATdAG6RRGMT</string>
	<key>naverConsumerSecret</key>
	<string>ABpX7xjoCO</string>
	<key>naverServiceAppName</key>
	<string>SleepAID</string>
	<key>naverServiceAppUrlScheme</key>
	<string>neurotx.kr.sleepaid.sleepaid</string>
</dict>
</plist>
